:root{
   --gradient:linear-gradient(90deg, #7D1010, #7D1010);
}

 *{
   font-family: 'Open Sans', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   text-decoration: none;
   outline:none;
   text-transform: capitalize;
   transition: all .2s linear;
}

*::selection{
   background:#fff;
   color:#6F6C6C;
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
}

body{
   background:#333;
}

section{
   padding:0 7%;
}

.btn{
   padding:.6rem 3rem;
   font-size: 2rem;
   margin-top: 1rem;
   cursor: pointer;
   border:none;
   background:var(--gradient);
   color:rgb(8, 8, 8);
   font-weight: bold;
   border-radius: 5px;
}

.btn:hover{
   background:#D30404;
   color:rgb(0, 0, 0);
}

.heading{
   text-align: center;
   font-size: 3rem;
   color:#fff;
   padding:1rem;
   padding-top: 8.5rem;
   width:50rem;
   margin:0 auto;
} 





/* header section starts  */
header{
   width:100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: fixed;
   top:0; left: 0;
   background:var(--gradient);
   z-index: 1000;
   padding:2rem 7%;
}

.logo img{
   width: 5em;
   border-radius: 3px;
}

header .navbar ul{
   display: flex;
   align-items: center;
   justify-content: center;
   list-style: none;
}

header .navbar ul li a{
   font-size: 2rem;
   margin-left: 2rem;
   color:#fff;
   position: relative;
}

header .navbar ul li a::before{
   content: '';
   position: absolute;
   bottom:-.5rem; right:0;
   height:.2rem;
   width:0%;
   background:#fff;
   transition: .2s linear;
}

header .navbar ul li a.active::before,
header .navbar ul li a:hover::before{
   left:0;
   width:100%;
}

header #menu{
   font-size: 3rem;
   color:#fff;
   cursor: pointer;
   display: none;
}

/* header section ends */


















/* media queries  */

@media (max-width:768px){

   html{
       font-size: 55%;
   }

   header #menu{
       display: block;
   }

   header .navbar{
       position: fixed;
       top:-120%; left: 0;
       width:100%;
       background: rgb(197, 196, 196);
   }

   header .navbar ul{
       flex-flow: column;
       padding:2rem;
   }

   header .navbar ul li{
       width:100%;
       text-align: center;
   }

   header .navbar ul li a{
       display: block;
       background:var(--gradient);
       margin:1rem 0;
       padding:1rem;
       font-size: 2.5rem;
       z-index: 0;
   }

   header .navbar ul li a::before{
       height:100%;
       bottom:0;
       z-index: -1;
       background:#333;
   }

   .fa-times{
       transform: rotate(180deg);
   }

   header .navbar.nav-toggle{
       top:7.4rem;
   }

   .home .content{
       text-align: center;
   }

   .core .row .image{
       display: none;
   }

   .contact .content{
       padding:3rem 0;
   }

}

@media (max-width:500px){

   html{
       font-size: 50%;
   }

   .home .content h1{
       font-size: 4rem;
   }

   .home .image img{
       height:auto;
       width:90%;
   }

   .heading{
       width: auto;
   }

   .product .box-container .box{
       flex-flow: column;
   }

   .product .box-container .box .image img{
       width:85%;
       border:none;
   }

   .logo img{
    width: 40px;
}

}